@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Outfit:700,600|Montserrat:700");

/* Reset and global styles */
*,
*::before,
*::after {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

button:focus-visible {
    outline: 2px solid #4a90e2 !important;
    outline: -webkit-focus-ring-color auto 5px !important;
}

a {
    text-decoration: none;
}

:root {
    --ff-body: "Outfit", sans-serif;
    --ff-display-1: "Outfit", sans-serif;
    --ff-display-2: "Outfit", sans-serif;
    --ff-display-3: "Outfit", sans-serif;



    --fs-logo: 2rem;
    --fs-700: 6rem;
    --fs-display-3: 3rem;
    --fs-600: 1rem;
    --fs-500: 1rem;
    --fs-400: 0.875rem;
    --fs-300: 1rem;
}

/* Desktop */
@media (max-width: 1024px) {
    :root {
        /* Adjust font sizes for desktop */
        --fs-700: 5rem;
        --fs-display-3: 2.5rem;
        --fs-600: 0.9rem;
        --fs-500: 0.9rem;
        --fs-400: 0.8rem;
        --fs-300: 0.9rem;
    }
}

/* Tablet */
@media (max-width: 1023px) and (min-width: 768px) {
    :root {
        /* Adjust font sizes for tablet */
        --fs-700: 4rem;
        --fs-display-3: 2rem;
        --fs-600: 0.8rem;
        --fs-500: 0.8rem;
        --fs-400: 0.75rem;
        --fs-300: 0.8rem;
    }
}

/* Mobile L */
@media (max-width: 767px) and (min-width: 480px) {
    :root {
        /* Adjust font sizes for larger mobile devices */
        --fs-700: 3rem;
        --fs-display-3: 1.5rem;
        --fs-600: 0.7rem;
        --fs-500: 0.7rem;
        --fs-400: 0.65rem;
        --fs-300: 0.7rem;
    }
}

/* Mobile S */
@media (max-width: 479px) {
    :root {
        /* Adjust font sizes for smaller mobile devices */
        --fs-700: 2.5rem;
        --fs-display-3: 1.2rem;
        --fs-600: 0.6rem;
        --fs-500: 0.6rem;
        --fs-400: 0.55rem;
        --fs-300: 0.6rem;
    }
}




