@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Outfit:700,600|Montserrat:700");

/* Reset and global styles */
*,
*::before,
*::after {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

button:focus-visible {
    outline: 2px solid #4a90e2 !important;
    outline: -webkit-focus-ring-color auto 5px !important;
}

a {
    text-decoration: none;
}

:root {
    --ff-body: "Outfit", sans-serif;
    --ff-display-1: "Outfit", sans-serif;
    --ff-display-2: "Outfit", sans-serif;
    --ff-display-3: "Outfit", sans-serif;

    --fs-700: 6rem;

    --fs-600: 1rem;
    --fs-500: 1rem;

    --fs-400: 1rem;
    --fs-300: 1rem;
}



/* Static values */
/*width: clamp(200px, 40%, 400px);*/
/*width: clamp(20rem, 30vw, 70rem);*/
/*width: clamp(10vw, 20em, 100vw);*/

/* Calculated values */
/*width: clamp(min(10vw, 20rem), 300px, max(90vw, 55rem));*/
/*width: clamp(100px, calc(30% / 2rem + 10px), 900px);*/
