.kami-kami-span {
    padding: 20px 18px 10px;
    color: hsl(0 0% 100% / 1);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    position: relative;
    opacity: 0.5;
}

.kami-kami-span:first-child {
    padding-top: 30px;
}

.c-sidebar-minimized .kami-kami-span {
    opacity: 0;
}
