/* Reset and global styles */
*,
*::before,
*::after {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

a {
    text-decoration: none;
}

:root {
    /* Typography */
    --ff-display-1: "Outfit", sans-serif;

    /* Color Palette */

    --color-0: #f0f5f4;

    --color-1: #38383b;
    --color-2: #a1a1a1;
    --color-3: #79dfc1;
    --color-4: #b04a68;
    --color-5: #0a58ca;
    --color-6: #e0ccaf;
    --color-7: #e36ff7;
    --color-8: #233d4d;
    --color-9: #e17726;
    --color-10: #51344d;
    --color-11: #0f5132;
    --color-12: #a38f99;
    --color-13: #3dd5f3;
    --color-14: #b73b23;
    --color-15: #6610f2;
    --color-16: #c97064;
    --color-17: #e56b6b;
    --color-18: #4c5b5c;
    --color-19: #dfa400;
    --color-20: #203878;
    --color-21: #6cb14f;
    --color-22: #114b5f;
    --color-23: #6ea8fe;
    --color-24: #474973;
    --color-25: #6f42c1;
    --color-26: #114b5f;
    --color-27: #8b1e3f;
    --color-28: #23395b;
    --color-29: #fab803;
    --color-30: #1a1423;
    --color-31: #20c997;
    --color-32: #426a5a;
    --color-33: #0aa2c0;
    --color-34: #dbb4ac;
    --color-35: #a370f7;
    --color-36: #504746;
    --color-37: #de6528;
    --color-38: #c9e2ef;
    --color-39: #b99253;
    --color-40: #495867;
}

.body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.container {
    display: flex;
    max-width: 1280px;
    padding: 0 15px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

/* styling start here */

.display-1 {
    color: #000;
    font-family: var(--ff-display-1);
    font-size: 36px;
    font-style: normal;
    font-weight: 250;
    line-height: normal;
}

.palette-container {
    display: flex;
    max-width: 854px;
    padding: 10px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10px;
    flex-wrap: wrap;
}

.palette {
    display: flex;
    align-items: flex-start;
}

.palette div {
    cursor: pointer;
}

.left-color,
.right-color,
.middle-color {
    width: 67px;
    height: 64px;
}

.left-color {
    border-radius: 32px 0 0 32px;
    background: #38383b;
}

.right-color {
    border-radius: 0 32px 32px 0;
    background: #a1a1a1;
}

.middle-color {
    background: #f0f5f4;
}

.border-parent {
    border: 0.5px solid #dd0000;
    /* position: absolute; */
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background: #333;
    color: #fff;
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.progressbar {
    position: relative;
    max-width: 500px;
    width: 100%;
    margin: 30px auto 0;
    height: 30px;
    background: #274545;
    overflow: hidden;
}

span.progress {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0;
    background: #326666;
    transition: all 0.3s;
}
