/* Reset and global styles */
*,
*::before,
*::after {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

a {
    text-decoration: none;
}

:root {
    /* Typography */
    --ff-display-1: "Outfit", sans-serif;

    /* Color Palette */

    --color-0: #F0F5F4;

    --color-1: #575787;     --color-2: #33333d;
    --color-3: #8CE4CC;     --color-4: #8D314B;
    --color-5: #0D74DC;     --color-6: #e800a8;
    --color-7: #F3A1FC;     --color-8: #1E3243;
    --color-9: #F19553;     --color-10: #402B41;
    --color-11: #196D49;    --color-12: #8B7D88;
    --color-13: #68DFF9;    --color-14: #97311E;
    --color-15: #7923E4;    --color-16: #B55D4F;
    --color-17: #E87979;    --color-18: #3F4E4F;
    --color-19: #E9BB00;    --color-20: #1C3B68;
    --color-21: #7FD462;    --color-22: #0C4258;
    --color-23: #7FBDFE;    --color-24: #3B3C58;
    --color-25: #7D52C8;    --color-26: #0C4258;
    --color-27: #9D2C52;    --color-28: #1F3352;
    --color-29: #FDD60F;    --color-30: #181229;
    --color-31: #34D6AC;    --color-32: #385D51;
    --color-33: #17B8D4;    --color-34: #AC7D74;
    --color-35: #B489F9;    --color-36: #46403A;
    --color-37: #E26F31;    --color-38: #0000e6;
    --color-39: #C3A67B;    --color-40: #3C485E;



}



.container {
    position: relative;
    display: flex;
    max-width: 1280px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-right: auto;
    padding: 0px 15px 0;
    margin-left: auto;
}

/* styling start here */


.display-1 {
    color: #000;
    font-family: var(--ff-display-1);
    font-size: 36px;
    font-style: normal;
    font-weight: 250;
    line-height: normal;
    text-align: center;
}

/*.palette-container {*/
/*    display: flex;*/
/*    max-width: 854px;*/
/*    padding: 10px;*/
/*    align-items: flex-start;*/
/*    align-content: flex-start;*/
/*    gap: 10px;*/
/*    flex-wrap: wrap;*/
/*    justify-content: center;*/
/*}*/

.palette {
    display: flex;
    justify-content: center;
}

.palette div {
    cursor: pointer;
}

.left-color,
.right-color,
.middle-color {
    width: 67px;
    height: 64px;
}

.left-color {
    border-radius: 32px 0 0 32px;
    background: #38383B;
}

.right-color {
    border-radius: 0 32px 32px 0;
    background: #A1A1A1;
}

.middle-color {
    background: #F0F5F4;
}

.border-parent {
    /*border: 0.5px solid #dd0000;*/
}

.palette-container {
    display: flex;
    /* max-width: 1000px; */
    padding: 10px 10px 50px;
    /*align-items: flex-start;*/
    /*align-content: flex-start;*/
    gap: 20px;
    flex-wrap: wrap;
    /* display: grid; */
    /* grid-template-columns: repeat(4, 1fr); */
    /* grid-gap: 10px; */
    justify-content: center;
}


.parent {
    /*display: grid;*/
    /*grid-template-columns: 1fr 1fr 1fr;*/
}

.border-parent,
.parent .palette {
    border-radius: 32px;
}

.border-parent {
    /*border: 1px solid #dd0000;*/
}

.palette {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.palette {
    transition: .1s ease;
}


.palette:hover {
    transform: translateY(-3px);
}



.progress-button {
    width: 30%;
    height: 64px;
}


button {
    border-radius: 30px !important;
}
