

.permission-wrapper {
    display: flex;
    /*width: 1920px;*/
    height: 100%;
    /*padding: 171px 630px 275px 630px;*/
    /* margin-top: 171px; */
    transform: translateY(-4%);
    justify-content: center;
    align-items: center;
    /*background: #FFF;*/
}

.permission-wrapper-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 61px;
}

.permission-wrapper-wrapper h1 {
    color: #000;
    text-align: center;
    font-family: Outfit, sans-serif;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    width: 100%;
}

.permission-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 43px;
}

.buttons-container {
    display: flex;
    width: 660px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}


.next-button {
    display: flex;
    width: 248px;
    padding: 16px 0px;
    justify-content: center;
    align-items: center;

    border-radius: 40px;
    background: #000;




    color: #FBFAF7;
    font-family: Outfit, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.back-button {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.back-button svg {
    width: 24px;
    height: 24px;
}

.back-button p {
    color: #000;
    font-family: Outfit, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}











.checkbox-button {
    display: flex;
    /* width: 320px; */
    /*width: 100%;*/
    width: calc(50% - 10px);
    padding: 20px 0;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    position: relative;
    cursor: pointer;
    border-radius: 40px;
    border: 3px solid #000;
    color: #000;
    font-family: Outfit, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.checkbox-button input[type="checkbox"] {
    width: 27px;
    height: 27px;

    border-radius: 4px;
    border: 2px solid #E5E5E5;

    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
