/* Typography */
a,
h1,
p,
figcaption,
span {
    font-family: var(--ff-body);
}

.bg-200 {
    background: #F3F4F6;
}

.mb-5 {
    margin-bottom: 3rem !important;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
}


/* Header styles */
header,
nav {
    display: flex;
    width: 100%;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
}

header {
    position: absolute;
    height: 60px;
    z-index: 1;
}

nav {
    max-width: 1280px;
    padding: 0 15px;
    margin: 0 auto;
}

nav .logo {
    justify-content: flex-start;
}

nav .logo a {
    font-size: var(--fs-logo) !important;
    font-weight: 700 !important;
}

nav .logo a,
.menu ul li a {
    color: #000;
    font-size: var(--fs-600);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

nav .logo a:hover,
.menu ul li a:hover {
    color: #D5A076;
}


.menu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.menu ul li {
    display: inline;
    padding: 0 20px;
}

.menu ul li:last-child {
    margin-right: 0;
}

.header-buttons,
.login,
.start-free {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: var(--fs-500);
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    transition: .1s ease;
}

.login a:hover {
    color: #D5A076;
}


.login,
.start-free {
    height: 36px;
    padding: 10px;
}

.start-free {
    border-radius: 8px;
    background: #D5A076;
}


.login a {
    color: #000;
}

.start-free a {
    color: #FFF;
}


footer section .container .logo h1 {
    color: #FFF;
    font-size: var(--fs-logo);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}


.illustration_doodle {
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat no-repeat;
}

.shape {
    position: absolute !important;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
    overflow: hidden;
    background-repeat: no-repeat;
    pointer-events: none;
}


section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.container {
    display: flex;
    max-width: 1280px;
    padding: 0 15px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.hero-section {
    border-top: 60px solid transparent !important;
}


.hero-content {
    display: flex;
    padding: 64px 0;
    flex-direction: column;
    align-items: center;
    gap: 22px;
    align-self: stretch;
}

.display-1,
.display-3 {
    color: #13282B;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    /*line-height: 1.5rem;*/
}

.display-1 {
    font-family: var(--ff-display-1);
    font-size: var(--fs-700);
    line-height: normal;
}

.display-3 {
    font-family: var(--ff-display-3);
    font-size: var(--fs-display-3);
    line-height: normal;
}

.cta-container {
    display: flex;
    padding: 20px 0;
    justify-content: center;
    align-items: center;
    gap: 26px;
    flex-wrap: wrap;
}

.cta-container .start-now {
    display: flex;
    max-width: 210px;
    padding: 10px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    border-radius: 8px;
    background: #D5A076;
    transition: .1s ease;
}

.cta-container .start-now a {
    color: #FFF;
    font-size: 1rem;
    font-weight: 500;
    line-height: 28px;
}

.near-footer-button:hover,
.start-free:hover,
.cta-container .start-now:hover {
    transform: translateY(-3px);
}


figure {
    margin: 0 0 3rem;
}

.img-thumbnail {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}


.feature-content,
.feature-content .content,
.feature-text-content {
    display: flex;
    align-items: center;
    /* align-content: flex-start; */
    align-self: stretch;
}

.feature-content {
    padding: 90px 0;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
}

.feature-content .content {
    max-width: 880px;
    padding: 16px;
    justify-content: center;
    flex-wrap: wrap;
}

.feature-content .content figure {
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 16px;
    width: 200px;
}

.feature-content .content figure img {
    width: 108px;
    height: 108px;
    border-radius: 4px;
    background: #FFF;
    padding: 12px;
    transition: .1s ease;
}

.feature-content .content figure img:hover {
    transform: translateY(-3px);
}

.feature-content .content figure figcaption {
    color: #000;
    font-size: var(--fs-400);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.feature-text-content {
    padding: 0 0 90px;
    flex-direction: column;
    gap: 60px;
}

.feature-text-content p {
    color: #000;
    text-align: center;
    font-size: var(--fs-300);
    font-weight: 300;
    line-height: var(--lh-300);
}

.feature-text-content strong {
    font-weight: bold;
}


/* Near Footer */
.near-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    max-width: 1280px;
    padding: 120px 0;
}


.near-footer h1 {
    color: #000;
    text-align: center;
    font: 600 var(--fs-700) var(--ff-display-1);
    line-height: normal;
}


.near-button-container {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    padding: 20px 0;
}

.near-footer-button {
    display: flex;
    max-width: 210px;
    padding: 10px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #D5A076;
    transition: .1s ease;
}

.near-footer-button a {
    color: #FFF;
    font: 500 1rem / 28px var(--ff-body);
}


/* Footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
}

footer section {
    display: flex;
    align-items: center;
    align-self: stretch;
    background: #374151;
}

footer section .container {
    display: flex;
    max-width: 1280px;
    padding: 0 15px;
    align-items: center;
    align-self: stretch;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

footer section .container .logo {
    display: flex;
    padding: 35px 0;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

footer section .container .footer-links {
    padding: 150px 0;
}

footer .copyright {
    display: flex;
    align-self: stretch;
    padding: 15px 0;
    background: #1A1C24;
    align-items: center;
    justify-content: center;
}

footer .copyright .copyright-container {
    display: flex;
    height: 18px;
    max-width: 1280px;
    padding: 0 15px;
    flex-shrink: 0;
    align-self: stretch;
    align-items: center;
}

footer .copyright .copyright-container p {
    color: #D9D9D9;
    font-size: var(--fs-400);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

footer section .container p {
    color: #D9D9D9;
    text-align: center;
    font-size: var(--fs-300);
    line-height: var(--lh-300);
    font-weight: 300;
    font-style: normal;
    width: 75%;
}


footer section .container .social-links {
    display: flex;
    max-width: 1280px;
    padding: 50px 15px;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
}

footer section .container .social-links a {
    color: #D9D9D9;
    font-size: 25px;
}

footer section .container .social-links a:hover {
    color: #D5A076;
    font-size: 25px;
}

/* Laptop */
@media (max-width: 1440px) and (min-width: 1024px) {
    :root {
        --fs-700: 5rem;
        --fs-display-3: 2.5rem;
        /*--fs-600: 0.9rem;*/
        /*--fs-500: 0.9rem;*/
        --fs-300: 1.125rem;

        --lh-300: 1.75rem;
    }


}

/* Tablet */
@media (max-width: 1023px) and (min-width: 768px) {
    :root {
        --fs-700: 4rem;
        --fs-display-3: 2rem;
        /*--fs-600: 0.8rem;*/
        /*--fs-500: 0.8rem;*/
        --fs-300: 1.125rem;

        --lh-300: 1.75rem;
    }
}

/* Mobile L */
@media (max-width: 767px) and (min-width: 480px) {
    :root {
        --fs-700: 3rem;
        --fs-display-3: 1.5rem;
        --fs-300: 1.125rem;
        --lh-300: 1.5rem;
    }


    .header-buttons,
    .menu {
        display: none;
    }


    footer section .container p {
        width: 100%;
    }

    .near-footer {
        gap: 12px;
        padding: 59px 0;
    }


    footer section .container .social-links {
        padding: 30px 0;
    }

    .feature-content .content figure {
        width: 30vw;
    }


}

@media only screen and (max-width: 767px) {
    /* Show the header buttons on larger screens */
    #nav-magic {
        width: 50px;
        height: 34px;
        /* margin-top: 8px; */
        position: relative;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
    }

    #nav-magic span {
        display: block;
        position: absolute;
        height: 7px;
        width: 100%;
        background: #D5A076;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }


    /* Icon 3 */
    #nav-magic span:nth-child(1) {
        top: 0;
    }

    #nav-magic span:nth-child(2), #nav-magic span:nth-child(3) {
        top: 14px;
    }

    #nav-magic span:nth-child(4) {
        top: 28px;
    }

    #nav-magic.open span:nth-child(1) {
        top: 18px;
        width: 0;
        left: 50%;
    }

    #nav-magic.open span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    #nav-magic.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    #nav-magic.open span:nth-child(4) {
        top: 18px;
        width: 0;
        left: 50%;
    }


    header {
        position: absolute;
        height: 60px;
        z-index: 1;
    }

    nav {
        max-width: 1280px;
        padding: 0 15px;
        /* background: green; */
        margin: 0 auto;
    }

    nav .logo {
        justify-content: flex-start;
    }

    nav .logo a {
        font-size: var(--fs-logo) !important;
        font-weight: 700 !important;
    }


    #nav-magic1.other-class,
    #nav-magic2.other-class {
        display: block;
        position: absolute;
        top: 100%;
    }


    .menu ul li {
        display: block;
    }

    .menu ul li {
        padding: 20px 0;
        background: #f3f4f6;
        width: 100vw;
        text-align: center;
    }

    .menu ul li:nth-child(n+2) {
        padding-top: 0;
    }


}


/* Mobile S */
@media (max-width: 479px) {
    :root {
        --fs-700: 2.5rem;
        --fs-display-3: 1.2rem;
        --fs-300: 1.125rem;
        --lh-300: 1.25rem;
    }


    .header-buttons,
    .menu {
        display: none;
    }

    .hero-content {
        padding: 40px 0;
    }

    footer section .container p {
        width: 100%;
    }

    .feature-content .content {
        padding: 0;
    }

    .feature-content {
        padding: 70px 0;
    }

    figure {
        margin: 0 0 1rem;
    }

    .near-footer {
        gap: 12px;
        padding: 59px 0;
    }

    .feature-text-content {
        padding: 0 0 70px;
        gap: 40px;
    }

    footer section .container .social-links {
        padding: 30px 0;
    }

    .feature-content .content figure {
        width: 45vw;
    }

      

}
