:root {
    --material-themewhite: rgba(255, 255, 255, 1);
    --material-themeblack: rgba(0, 0, 0, 1);
    --material-themesyslightprimary: rgba(50, 105, 65, 1);
    --material-themesyslightsurface-tint: rgba(50, 105, 65, 1);
    --material-themesyslighton-primary: rgba(255, 255, 255, 1);
    --material-themesyslightprimary-container: rgba(180, 241, 189, 1);
    --material-themesyslighton-primary-container: rgba(0, 33, 11, 1);
    --material-themesyslightsecondary: rgba(80, 99, 82, 1);
    --material-themesyslighton-secondary: rgba(255, 255, 255, 1);
    --material-themesyslightsecondary-container: rgba(211, 232, 210, 1);
    --material-themesyslighton-secondary-container: rgba(14, 31, 18, 1);
    --material-themesyslighttertiary: rgba(58, 101, 110, 1);
    --material-themesyslighton-tertiary: rgba(255, 255, 255, 1);
    --material-themesyslighttertiary-container: rgba(189, 234, 245, 1);
    --material-themesyslighton-tertiary-container: rgba(0, 31, 37, 1);
    --material-themesyslighterror: rgba(186, 26, 26, 1);
    --material-themesyslighton-error: rgba(255, 255, 255, 1);
    --material-themesyslighterror-container: rgba(255, 218, 214, 1);
    --material-themesyslighton-error-container: rgba(65, 0, 2, 1);
    --material-themesyslightbackground: rgba(246, 251, 242, 1);
    --material-themesyslighton-background: rgba(24, 29, 24, 1);
    --material-themesyslightsurface: rgba(246, 251, 242, 1);
    --material-themesyslighton-surface: rgba(24, 29, 24, 1);
    --material-themesyslightsurface-variant: rgba(221, 229, 218, 1);
    --material-themesyslighton-surface-variant: rgba(65, 73, 65, 1);
    --material-themesyslightoutline: rgba(113, 121, 112, 1);
    --material-themesyslightoutline-variant: rgba(193, 201, 190, 1);
    --material-themesyslightshadow: rgba(0, 0, 0, 1);
    --material-themesyslightscrim: rgba(0, 0, 0, 1);
    --material-themesyslightinverse-surface: rgba(45, 50, 44, 1);
    --material-themesyslightinverse-on-surface: rgba(238, 242, 234, 1);
    --material-themesyslightinverse-primary: rgba(153, 212, 162, 1);
    --material-themesyslightprimary-fixed: rgba(180, 241, 189, 1);
    --material-themesyslighton-primary-fixed: rgba(0, 33, 11, 1);
    --material-themesyslightprimary-fixed-dim: rgba(153, 212, 162, 1);
    --material-themesyslighton-primary-fixed-variant: rgba(24, 81, 43, 1);
    --material-themesyslightsecondary-fixed: rgba(211, 232, 210, 1);
    --material-themesyslighton-secondary-fixed: rgba(14, 31, 18, 1);
    --material-themesyslightsecondary-fixed-dim: rgba(183, 204, 183, 1);
    --material-themesyslighton-secondary-fixed-variant: rgba(57, 75, 59, 1);
    --material-themesyslighttertiary-fixed: rgba(189, 234, 245, 1);
    --material-themesyslighton-tertiary-fixed: rgba(0, 31, 37, 1);
    --material-themesyslighttertiary-fixed-dim: rgba(162, 206, 216, 1);
    --material-themesyslighton-tertiary-fixed-variant: rgba(32, 77, 85, 1);
    --material-themesyslightsurface-dim: rgba(215, 219, 212, 1);
    --material-themesyslightsurface-bright: rgba(246, 251, 242, 1);
    --material-themesyslightsurface-container-lowest: rgba(255, 255, 255, 1);
    --material-themesyslightsurface-container-low: rgba(241, 245, 237, 1);
    --material-themesyslightsurface-container: rgba(235, 239, 231, 1);
    --material-themesyslightsurface-container-high: rgba(229, 234, 226, 1);
    --material-themesyslightsurface-container-highest: rgba(223, 228, 220, 1);
    --material-themesysdarkprimary: rgba(153, 212, 162, 1);
    --material-themesysdarksurface-tint: rgba(153, 212, 162, 1);
    --material-themesysdarkon-primary: rgba(0, 57, 24, 1);
    --material-themesysdarkprimary-container: rgba(24, 81, 43, 1);
    --material-themesysdarkon-primary-container: rgba(180, 241, 189, 1);
    --material-themesysdarksecondary: rgba(183, 204, 183, 1);
    --material-themesysdarkon-secondary: rgba(35, 52, 38, 1);
    --material-themesysdarksecondary-container: rgba(57, 75, 59, 1);
    --material-themesysdarkon-secondary-container: rgba(211, 232, 210, 1);
    --material-themesysdarktertiary: rgba(162, 206, 216, 1);
    --material-themesysdarkon-tertiary: rgba(1, 54, 62, 1);
    --material-themesysdarktertiary-container: rgba(32, 77, 85, 1);
    --material-themesysdarkon-tertiary-container: rgba(189, 234, 245, 1);
    --material-themesysdarkerror: rgba(255, 180, 171, 1);
    --material-themesysdarkon-error: rgba(105, 0, 5, 1);
    --material-themesysdarkerror-container: rgba(147, 0, 10, 1);
    --material-themesysdarkon-error-container: rgba(255, 218, 214, 1);
    --material-themesysdarkbackground: rgba(16, 21, 16, 1);
    --material-themesysdarkon-background: rgba(223, 228, 220, 1);
    --material-themesysdarksurface: rgba(16, 21, 16, 1);
    --material-themesysdarkon-surface: rgba(223, 228, 220, 1);
    --material-themesysdarksurface-variant: rgba(65, 73, 65, 1);
    --material-themesysdarkon-surface-variant: rgba(193, 201, 190, 1);
    --material-themesysdarkoutline: rgba(139, 147, 138, 1);
    --material-themesysdarkoutline-variant: rgba(65, 73, 65, 1);
    --material-themesysdarkshadow: rgba(0, 0, 0, 1);
    --material-themesysdarkscrim: rgba(0, 0, 0, 1);
    --material-themesysdarkinverse-surface: rgba(223, 228, 220, 1);
    --material-themesysdarkinverse-on-surface: rgba(45, 50, 44, 1);
    --material-themesysdarkinverse-primary: rgba(50, 105, 65, 1);
    --material-themesysdarkprimary-fixed: rgba(180, 241, 189, 1);
    --material-themesysdarkon-primary-fixed: rgba(0, 33, 11, 1);
    --material-themesysdarkprimary-fixed-dim: rgba(153, 212, 162, 1);
    --material-themesysdarkon-primary-fixed-variant: rgba(24, 81, 43, 1);
    --material-themesysdarksecondary-fixed: rgba(211, 232, 210, 1);
    --material-themesysdarkon-secondary-fixed: rgba(14, 31, 18, 1);
    --material-themesysdarksecondary-fixed-dim: rgba(183, 204, 183, 1);
    --material-themesysdarkon-secondary-fixed-variant: rgba(57, 75, 59, 1);
    --material-themesysdarktertiary-fixed: rgba(189, 234, 245, 1);
    --material-themesysdarkon-tertiary-fixed: rgba(0, 31, 37, 1);
    --material-themesysdarktertiary-fixed-dim: rgba(162, 206, 216, 1);
    --material-themesysdarkon-tertiary-fixed-variant: rgba(32, 77, 85, 1);
    --material-themesysdarksurface-dim: rgba(16, 21, 16, 1);
    --material-themesysdarksurface-bright: rgba(53, 58, 53, 1);
    --material-themesysdarksurface-container-lowest: rgba(11, 15, 11, 1);
    --material-themesysdarksurface-container-low: rgba(24, 29, 24, 1);
    --material-themesysdarksurface-container: rgba(28, 33, 28, 1);
    --material-themesysdarksurface-container-high: rgba(38, 43, 38, 1);
    --material-themesysdarksurface-container-highest: rgba(49, 54, 49, 1);
    --material-themesyslight-high-contrastprimary: rgba(0, 41, 15, 1);
    --material-themesyslight-high-contrastsurface-tint: rgba(50, 105, 65, 1);
    --material-themesyslight-high-contraston-primary: rgba(255, 255, 255, 1);
    --material-themesyslight-high-contrastprimary-container: rgba(19, 77, 39, 1);
    --material-themesyslight-high-contraston-primary-container: rgba(255, 255, 255, 1);
    --material-themesyslight-high-contrastsecondary: rgba(21, 38, 24, 1);
    --material-themesyslight-high-contraston-secondary: rgba(255, 255, 255, 1);
    --material-themesyslight-high-contrastsecondary-container: rgba(53, 71, 55, 1);
    --material-themesyslight-high-contraston-secondary-container: rgba(255, 255, 255, 1);
    --material-themesyslight-high-contrasttertiary: rgba(0, 39, 45, 1);
    --material-themesyslight-high-contraston-tertiary: rgba(255, 255, 255, 1);
    --material-themesyslight-high-contrasttertiary-container: rgba(27, 73, 81, 1);
    --material-themesyslight-high-contraston-tertiary-container: rgba(255, 255, 255, 1);
    --material-themesyslight-high-contrasterror: rgba(78, 0, 2, 1);
    --material-themesyslight-high-contraston-error: rgba(255, 255, 255, 1);
    --material-themesyslight-high-contrasterror-container: rgba(140, 0, 9, 1);
    --material-themesyslight-high-contraston-error-container: rgba(255, 255, 255, 1);
    --material-themesyslight-high-contrastbackground: rgba(246, 251, 242, 1);
    --material-themesyslight-high-contraston-background: rgba(24, 29, 24, 1);
    --material-themesyslight-high-contrastsurface: rgba(246, 251, 242, 1);
    --material-themesyslight-high-contraston-surface: rgba(0, 0, 0, 1);
    --material-themesyslight-high-contrastsurface-variant: rgba(221, 229, 218, 1);
    --material-themesyslight-high-contraston-surface-variant: rgba(31, 38, 31, 1);
    --material-themesyslight-high-contrastoutline: rgba(61, 69, 61, 1);
    --material-themesyslight-high-contrastoutline-variant: rgba(61, 69, 61, 1);
    --material-themesyslight-high-contrastshadow: rgba(0, 0, 0, 1);
    --material-themesyslight-high-contrastscrim: rgba(0, 0, 0, 1);
    --material-themesyslight-high-contrastinverse-surface: rgba(45, 50, 44, 1);
    --material-themesyslight-high-contrastinverse-on-surface: rgba(255, 255, 255, 1);
    --material-themesyslight-high-contrastinverse-primary: rgba(190, 251, 198, 1);
    --material-themesyslight-high-contrastprimary-fixed: rgba(19, 77, 39, 1);
    --material-themesyslight-high-contraston-primary-fixed: rgba(255, 255, 255, 1);
    --material-themesyslight-high-contrastprimary-fixed-dim: rgba(0, 53, 22, 1);
    --material-themesyslight-high-contraston-primary-fixed-variant: rgba(255, 255, 255, 1);
    --material-themesyslight-high-contrastsecondary-fixed: rgba(53, 71, 55, 1);
    --material-themesyslight-high-contraston-secondary-fixed: rgba(255, 255, 255, 1);
    --material-themesyslight-high-contrastsecondary-fixed-dim: rgba(31, 49, 34, 1);
    --material-themesyslight-high-contraston-secondary-fixed-variant: rgba(255, 255, 255, 1);
    --material-themesyslight-high-contrasttertiary-fixed: rgba(27, 73, 81, 1);
    --material-themesyslight-high-contraston-tertiary-fixed: rgba(255, 255, 255, 1);
    --material-themesyslight-high-contrasttertiary-fixed-dim: rgba(0, 50, 58, 1);
    --material-themesyslight-high-contraston-tertiary-fixed-variant: rgba(255, 255, 255, 1);
    --material-themesyslight-high-contrastsurface-dim: rgba(215, 219, 212, 1);
    --material-themesyslight-high-contrastsurface-bright: rgba(246, 251, 242, 1);
    --material-themesyslight-high-contrastsurface-container-lowest: rgba(255, 255, 255, 1);
    --material-themesyslight-high-contrastsurface-container-low: rgba(241, 245, 237, 1);
    --material-themesyslight-high-contrastsurface-container: rgba(235, 239, 231, 1);
    --material-themesyslight-high-contrastsurface-container-high: rgba(229, 234, 226, 1);
    --material-themesyslight-high-contrastsurface-container-highest: rgba(223, 228, 220, 1);
    --material-themesysdark-high-contrastprimary: rgba(240, 255, 237, 1);
    --material-themesysdark-high-contrastsurface-tint: rgba(153, 212, 162, 1);
    --material-themesysdark-high-contraston-primary: rgba(0, 0, 0, 1);
    --material-themesysdark-high-contrastprimary-container: rgba(157, 217, 166, 1);
    --material-themesysdark-high-contraston-primary-container: rgba(0, 0, 0, 1);
    --material-themesysdark-high-contrastsecondary: rgba(240, 255, 237, 1);
    --material-themesysdark-high-contraston-secondary: rgba(0, 0, 0, 1);
    --material-themesysdark-high-contrastsecondary-container: rgba(187, 208, 187, 1);
    --material-themesysdark-high-contraston-secondary-container: rgba(0, 0, 0, 1);
    --material-themesysdark-high-contrasttertiary: rgba(243, 252, 255, 1);
    --material-themesysdark-high-contraston-tertiary: rgba(0, 0, 0, 1);
    --material-themesysdark-high-contrasttertiary-container: rgba(166, 210, 220, 1);
    --material-themesysdark-high-contraston-tertiary-container: rgba(0, 0, 0, 1);
    --material-themesysdark-high-contrasterror: rgba(255, 249, 249, 1);
    --material-themesysdark-high-contraston-error: rgba(0, 0, 0, 1);
    --material-themesysdark-high-contrasterror-container: rgba(255, 186, 177, 1);
    --material-themesysdark-high-contraston-error-container: rgba(0, 0, 0, 1);
    --material-themesysdark-high-contrastbackground: rgba(16, 21, 16, 1);
    --material-themesysdark-high-contraston-background: rgba(223, 228, 220, 1);
    --material-themesysdark-high-contrastsurface: rgba(16, 21, 16, 1);
    --material-themesysdark-high-contraston-surface: rgba(255, 255, 255, 1);
    --material-themesysdark-high-contrastsurface-variant: rgba(65, 73, 65, 1);
    --material-themesysdark-high-contraston-surface-variant: rgba(245, 253, 242, 1);
    --material-themesysdark-high-contrastoutline: rgba(197, 205, 195, 1);
    --material-themesysdark-high-contrastoutline-variant: rgba(197, 205, 195, 1);
    --material-themesysdark-high-contrastshadow: rgba(0, 0, 0, 1);
    --material-themesysdark-high-contrastscrim: rgba(0, 0, 0, 1);
    --material-themesysdark-high-contrastinverse-surface: rgba(223, 228, 220, 1);
    --material-themesysdark-high-contrastinverse-on-surface: rgba(0, 0, 0, 1);
    --material-themesysdark-high-contrastinverse-primary: rgba(0, 50, 20, 1);
    --material-themesysdark-high-contrastprimary-fixed: rgba(185, 245, 193, 1);
    --material-themesysdark-high-contraston-primary-fixed: rgba(0, 0, 0, 1);
    --material-themesysdark-high-contrastprimary-fixed-dim: rgba(157, 217, 166, 1);
    --material-themesysdark-high-contraston-primary-fixed-variant: rgba(0, 27, 8, 1);
    --material-themesysdark-high-contrastsecondary-fixed: rgba(215, 237, 214, 1);
    --material-themesysdark-high-contraston-secondary-fixed: rgba(0, 0, 0, 1);
    --material-themesysdark-high-contrastsecondary-fixed-dim: rgba(187, 208, 187, 1);
    --material-themesysdark-high-contraston-secondary-fixed-variant: rgba(9, 26, 13, 1);
    --material-themesysdark-high-contrasttertiary-fixed: rgba(193, 238, 249, 1);
    --material-themesysdark-high-contraston-tertiary-fixed: rgba(0, 0, 0, 1);
    --material-themesysdark-high-contrasttertiary-fixed-dim: rgba(166, 210, 220, 1);
    --material-themesysdark-high-contraston-tertiary-fixed-variant: rgba(0, 26, 30, 1);
    --material-themesysdark-high-contrastsurface-dim: rgba(16, 21, 16, 1);
    --material-themesysdark-high-contrastsurface-bright: rgba(53, 58, 53, 1);
    --material-themesysdark-high-contrastsurface-container-lowest: rgba(11, 15, 11, 1);
    --material-themesysdark-high-contrastsurface-container-low: rgba(24, 29, 24, 1);
    --material-themesysdark-high-contrastsurface-container: rgba(28, 33, 28, 1);
    --material-themesysdark-high-contrastsurface-container-high: rgba(38, 43, 38, 1);
    --material-themesysdark-high-contrastsurface-container-highest: rgba(49, 54, 49, 1);
    --material-themesyslight-medium-contrastprimary: rgba(19, 77, 39, 1);
    --material-themesyslight-medium-contrastsurface-tint: rgba(50, 105, 65, 1);
    --material-themesyslight-medium-contraston-primary: rgba(255, 255, 255, 1);
    --material-themesyslight-medium-contrastprimary-container: rgba(73, 128, 85, 1);
    --material-themesyslight-medium-contraston-primary-container: rgba(255, 255, 255, 1);
    --material-themesyslight-medium-contrastsecondary: rgba(53, 71, 55, 1);
    --material-themesyslight-medium-contraston-secondary: rgba(255, 255, 255, 1);
    --material-themesyslight-medium-contrastsecondary-container: rgba(102, 121, 103, 1);
    --material-themesyslight-medium-contraston-secondary-container: rgba(255, 255, 255, 1);
    --material-themesyslight-medium-contrasttertiary: rgba(27, 73, 81, 1);
    --material-themesyslight-medium-contraston-tertiary: rgba(255, 255, 255, 1);
    --material-themesyslight-medium-contrasttertiary-container: rgba(80, 123, 132, 1);
    --material-themesyslight-medium-contraston-tertiary-container: rgba(255, 255, 255, 1);
    --material-themesyslight-medium-contrasterror: rgba(140, 0, 9, 1);
    --material-themesyslight-medium-contraston-error: rgba(255, 255, 255, 1);
    --material-themesyslight-medium-contrasterror-container: rgba(218, 52, 46, 1);
    --material-themesyslight-medium-contraston-error-container: rgba(255, 255, 255, 1);
    --material-themesyslight-medium-contrastbackground: rgba(246, 251, 242, 1);
    --material-themesyslight-medium-contraston-background: rgba(24, 29, 24, 1);
    --material-themesyslight-medium-contrastsurface: rgba(246, 251, 242, 1);
    --material-themesyslight-medium-contraston-surface: rgba(24, 29, 24, 1);
    --material-themesyslight-medium-contrastsurface-variant: rgba(221, 229, 218, 1);
    --material-themesyslight-medium-contraston-surface-variant: rgba(61, 69, 61, 1);
    --material-themesyslight-medium-contrastoutline: rgba(89, 97, 89, 1);
    --material-themesyslight-medium-contrastoutline-variant: rgba(117, 125, 116, 1);
    --material-themesyslight-medium-contrastshadow: rgba(0, 0, 0, 1);
    --material-themesyslight-medium-contrastscrim: rgba(0, 0, 0, 1);
    --material-themesyslight-medium-contrastinverse-surface: rgba(45, 50, 44, 1);
    --material-themesyslight-medium-contrastinverse-on-surface: rgba(238, 242, 234, 1);
    --material-themesyslight-medium-contrastinverse-primary: rgba(153, 212, 162, 1);
    --material-themesyslight-medium-contrastprimary-fixed: rgba(73, 128, 85, 1);
    --material-themesyslight-medium-contraston-primary-fixed: rgba(255, 255, 255, 1);
    --material-themesyslight-medium-contrastprimary-fixed-dim: rgba(48, 103, 62, 1);
    --material-themesyslight-medium-contraston-primary-fixed-variant: rgba(255, 255, 255, 1);
    --material-themesyslight-medium-contrastsecondary-fixed: rgba(102, 121, 103, 1);
    --material-themesyslight-medium-contraston-secondary-fixed: rgba(255, 255, 255, 1);
    --material-themesyslight-medium-contrastsecondary-fixed-dim: rgba(78, 97, 79, 1);
    --material-themesyslight-medium-contraston-secondary-fixed-variant: rgba(255, 255, 255, 1);
    --material-themesyslight-medium-contrasttertiary-fixed: rgba(80, 123, 132, 1);
    --material-themesyslight-medium-contraston-tertiary-fixed: rgba(255, 255, 255, 1);
    --material-themesyslight-medium-contrasttertiary-fixed-dim: rgba(55, 98, 107, 1);
    --material-themesyslight-medium-contraston-tertiary-fixed-variant: rgba(255, 255, 255, 1);
    --material-themesyslight-medium-contrastsurface-dim: rgba(215, 219, 212, 1);
    --material-themesyslight-medium-contrastsurface-bright: rgba(246, 251, 242, 1);
    --material-themesyslight-medium-contrastsurface-container-lowest: rgba(255, 255, 255, 1);
    --material-themesyslight-medium-contrastsurface-container-low: rgba(241, 245, 237, 1);
    --material-themesyslight-medium-contrastsurface-container: rgba(235, 239, 231, 1);
    --material-themesyslight-medium-contrastsurface-container-high: rgba(229, 234, 226, 1);
    --material-themesyslight-medium-contrastsurface-container-highest: rgba(223, 228, 220, 1);
    --material-themesysdark-medium-contrastprimary: rgba(157, 217, 166, 1);
    --material-themesysdark-medium-contrastsurface-tint: rgba(153, 212, 162, 1);
    --material-themesysdark-medium-contraston-primary: rgba(0, 27, 8, 1);
    --material-themesysdark-medium-contrastprimary-container: rgba(101, 157, 112, 1);
    --material-themesysdark-medium-contraston-primary-container: rgba(0, 0, 0, 1);
    --material-themesysdark-medium-contrastsecondary: rgba(187, 208, 187, 1);
    --material-themesysdark-medium-contraston-secondary: rgba(9, 26, 13, 1);
    --material-themesysdark-medium-contrastsecondary-container: rgba(130, 150, 131, 1);
    --material-themesysdark-medium-contraston-secondary-container: rgba(0, 0, 0, 1);
    --material-themesysdark-medium-contrasttertiary: rgba(166, 210, 220, 1);
    --material-themesysdark-medium-contraston-tertiary: rgba(0, 26, 30, 1);
    --material-themesysdark-medium-contrasttertiary-container: rgba(108, 152, 161, 1);
    --material-themesysdark-medium-contraston-tertiary-container: rgba(0, 0, 0, 1);
    --material-themesysdark-medium-contrasterror: rgba(255, 186, 177, 1);
    --material-themesysdark-medium-contraston-error: rgba(55, 0, 1, 1);
    --material-themesysdark-medium-contrasterror-container: rgba(255, 84, 73, 1);
    --material-themesysdark-medium-contraston-error-container: rgba(0, 0, 0, 1);
    --material-themesysdark-medium-contrastbackground: rgba(16, 21, 16, 1);
    --material-themesysdark-medium-contraston-background: rgba(223, 228, 220, 1);
    --material-themesysdark-medium-contrastsurface: rgba(16, 21, 16, 1);
    --material-themesysdark-medium-contraston-surface: rgba(248, 252, 244, 1);
    --material-themesysdark-medium-contrastsurface-variant: rgba(65, 73, 65, 1);
    --material-themesysdark-medium-contraston-surface-variant: rgba(197, 205, 195, 1);
    --material-themesysdark-medium-contrastoutline: rgba(157, 165, 155, 1);
    --material-themesysdark-medium-contrastoutline-variant: rgba(125, 133, 124, 1);
    --material-themesysdark-medium-contrastshadow: rgba(0, 0, 0, 1);
    --material-themesysdark-medium-contrastscrim: rgba(0, 0, 0, 1);
    --material-themesysdark-medium-contrastinverse-surface: rgba(223, 228, 220, 1);
    --material-themesysdark-medium-contrastinverse-on-surface: rgba(38, 43, 38, 1);
    --material-themesysdark-medium-contrastinverse-primary: rgba(25, 82, 44, 1);
    --material-themesysdark-medium-contrastprimary-fixed: rgba(180, 241, 189, 1);
    --material-themesysdark-medium-contraston-primary-fixed: rgba(0, 21, 6, 1);
    --material-themesysdark-medium-contrastprimary-fixed-dim: rgba(153, 212, 162, 1);
    --material-themesysdark-medium-contraston-primary-fixed-variant: rgba(0, 64, 28, 1);
    --material-themesysdark-medium-contrastsecondary-fixed: rgba(211, 232, 210, 1);
    --material-themesysdark-medium-contraston-secondary-fixed: rgba(4, 21, 8, 1);
    --material-themesysdark-medium-contrastsecondary-fixed-dim: rgba(183, 204, 183, 1);
    --material-themesysdark-medium-contraston-secondary-fixed-variant: rgba(41, 58, 43, 1);
    --material-themesysdark-medium-contrasttertiary-fixed: rgba(189, 234, 245, 1);
    --material-themesysdark-medium-contraston-tertiary-fixed: rgba(0, 20, 24, 1);
    --material-themesysdark-medium-contrasttertiary-fixed-dim: rgba(162, 206, 216, 1);
    --material-themesysdark-medium-contraston-tertiary-fixed-variant: rgba(9, 60, 68, 1);
    --material-themesysdark-medium-contrastsurface-dim: rgba(16, 21, 16, 1);
    --material-themesysdark-medium-contrastsurface-bright: rgba(53, 58, 53, 1);
    --material-themesysdark-medium-contrastsurface-container-lowest: rgba(11, 15, 11, 1);
    --material-themesysdark-medium-contrastsurface-container-low: rgba(24, 29, 24, 1);
    --material-themesysdark-medium-contrastsurface-container: rgba(28, 33, 28, 1);
    --material-themesysdark-medium-contrastsurface-container-high: rgba(38, 43, 38, 1);
    --material-themesysdark-medium-contrastsurface-container-highest: rgba(49, 54, 49, 1);
    --material-themerefprimaryprimary100: rgba(255, 255, 255, 1);
    --material-themerefprimaryprimary99: rgba(245, 255, 242, 1);
    --material-themerefprimaryprimary98: rgba(234, 255, 233, 1);
    --material-themerefprimaryprimary95: rgba(206, 252, 211, 1);
    --material-themerefprimaryprimary90: rgba(193, 238, 197, 1);
    --material-themerefprimaryprimary80: rgba(165, 209, 170, 1);
    --material-themerefprimaryprimary70: rgba(138, 182, 144, 1);
    --material-themerefprimaryprimary60: rgba(113, 155, 119, 1);
    --material-themerefprimaryprimary50: rgba(87, 128, 95, 1);
    --material-themerefprimaryprimary40: rgba(63, 103, 71, 1);
    --material-themerefprimaryprimary35: rgba(51, 91, 60, 1);
    --material-themerefprimaryprimary30: rgba(40, 79, 49, 1);
    --material-themerefprimaryprimary25: rgba(28, 67, 38, 1);
    --material-themerefprimaryprimary20: rgba(15, 56, 28, 1);
    --material-themerefprimaryprimary15: rgba(3, 45, 18, 1);
    --material-themerefprimaryprimary10: rgba(0, 33, 11, 1);
    --material-themerefprimaryprimary5: rgba(0, 21, 6, 1);
    --material-themerefprimaryprimary0: rgba(0, 0, 0, 1);
    --material-themerefsecondarysecondary100: rgba(255, 255, 255, 1);
    --material-themerefsecondarysecondary99: rgba(245, 255, 242, 1);
    --material-themerefsecondarysecondary98: rgba(242, 252, 239, 1);
    --material-themerefsecondarysecondary95: rgba(233, 244, 231, 1);
    --material-themerefsecondarysecondary90: rgba(219, 229, 217, 1);
    --material-themerefsecondarysecondary80: rgba(191, 201, 189, 1);
    --material-themerefsecondarysecondary70: rgba(164, 174, 162, 1);
    --material-themerefsecondarysecondary60: rgba(137, 147, 136, 1);
    --material-themerefsecondarysecondary50: rgba(112, 122, 111, 1);
    --material-themerefsecondarysecondary40: rgba(87, 97, 87, 1);
    --material-themerefsecondarysecondary35: rgba(75, 85, 75, 1);
    --material-themerefsecondarysecondary30: rgba(64, 73, 64, 1);
    --material-themerefsecondarysecondary25: rgba(52, 62, 53, 1);
    --material-themerefsecondarysecondary20: rgba(42, 51, 42, 1);
    --material-themerefsecondarysecondary15: rgba(31, 40, 32, 1);
    --material-themerefsecondarysecondary10: rgba(21, 30, 22, 1);
    --material-themerefsecondarysecondary5: rgba(10, 19, 12, 1);
    --material-themerefsecondarysecondary0: rgba(0, 0, 0, 1);
    --material-themereftertiarytertiary100: rgba(255, 255, 255, 1);
    --material-themereftertiarytertiary99: rgba(247, 253, 255, 1);
    --material-themereftertiarytertiary98: rgba(239, 252, 255, 1);
    --material-themereftertiarytertiary95: rgba(222, 245, 250, 1);
    --material-themereftertiarytertiary90: rgba(208, 230, 236, 1);
    --material-themereftertiarytertiary80: rgba(181, 202, 208, 1);
    --material-themereftertiarytertiary70: rgba(153, 175, 180, 1);
    --material-themereftertiarytertiary60: rgba(127, 148, 153, 1);
    --material-themereftertiarytertiary50: rgba(102, 123, 127, 1);
    --material-themereftertiarytertiary40: rgba(77, 98, 102, 1);
    --material-themereftertiarytertiary35: rgba(66, 86, 90, 1);
    --material-themereftertiarytertiary30: rgba(54, 74, 79, 1);
    --material-themereftertiarytertiary25: rgba(43, 63, 67, 1);
    --material-themereftertiarytertiary20: rgba(31, 51, 56, 1);
    --material-themereftertiarytertiary15: rgba(20, 41, 45, 1);
    --material-themereftertiarytertiary10: rgba(9, 30, 35, 1);
    --material-themereftertiarytertiary5: rgba(1, 20, 24, 1);
    --material-themereftertiarytertiary0: rgba(0, 0, 0, 1);
    --material-themereferrorerror100: rgba(255, 255, 255, 1);
    --material-themereferrorerror99: rgba(255, 251, 255, 1);
    --material-themereferrorerror98: rgba(255, 248, 247, 1);
    --material-themereferrorerror95: rgba(255, 237, 234, 1);
    --material-themereferrorerror90: rgba(255, 218, 214, 1);
    --material-themereferrorerror80: rgba(255, 180, 171, 1);
    --material-themereferrorerror70: rgba(255, 137, 125, 1);
    --material-themereferrorerror60: rgba(255, 84, 73, 1);
    --material-themereferrorerror50: rgba(222, 55, 48, 1);
    --material-themereferrorerror40: rgba(186, 26, 26, 1);
    --material-themereferrorerror35: rgba(168, 7, 16, 1);
    --material-themereferrorerror30: rgba(147, 0, 10, 1);
    --material-themereferrorerror25: rgba(126, 0, 7, 1);
    --material-themereferrorerror20: rgba(105, 0, 5, 1);
    --material-themereferrorerror15: rgba(84, 0, 3, 1);
    --material-themereferrorerror10: rgba(65, 0, 2, 1);
    --material-themereferrorerror5: rgba(45, 0, 1, 1);
    --material-themereferrorerror0: rgba(0, 0, 0, 1);
    --material-themerefneutralneutral100: rgba(255, 255, 255, 1);
    --material-themerefneutralneutral99: rgba(253, 252, 249, 1);
    --material-themerefneutralneutral98: rgba(250, 249, 246, 1);
    --material-themerefneutralneutral95: rgba(242, 241, 237, 1);
    --material-themerefneutralneutral90: rgba(227, 226, 223, 1);
    --material-themerefneutralneutral80: rgba(199, 198, 195, 1);
    --material-themerefneutralneutral70: rgba(171, 171, 168, 1);
    --material-themerefneutralneutral60: rgba(145, 145, 142, 1);
    --material-themerefneutralneutral50: rgba(119, 119, 117, 1);
    --material-themerefneutralneutral40: rgba(94, 95, 92, 1);
    --material-themerefneutralneutral35: rgba(82, 83, 80, 1);
    --material-themerefneutralneutral30: rgba(70, 71, 69, 1);
    --material-themerefneutralneutral25: rgba(59, 60, 58, 1);
    --material-themerefneutralneutral20: rgba(48, 49, 47, 1);
    --material-themerefneutralneutral15: rgba(37, 38, 36, 1);
    --material-themerefneutralneutral10: rgba(27, 28, 26, 1);
    --material-themerefneutralneutral5: rgba(16, 17, 16, 1);
    --material-themerefneutralneutral0: rgba(0, 0, 0, 1);
    --material-themerefneutral-variantneutral-variant100: rgba(255, 255, 255, 1);
    --material-themerefneutral-variantneutral-variant99: rgba(251, 253, 246, 1);
    --material-themerefneutral-variantneutral-variant98: rgba(248, 250, 244, 1);
    --material-themerefneutral-variantneutral-variant95: rgba(239, 242, 235, 1);
    --material-themerefneutral-variantneutral-variant90: rgba(225, 227, 221, 1);
    --material-themerefneutral-variantneutral-variant80: rgba(197, 199, 193, 1);
    --material-themerefneutral-variantneutral-variant70: rgba(169, 172, 166, 1);
    --material-themerefneutral-variantneutral-variant60: rgba(142, 146, 140, 1);
    --material-themerefneutral-variantneutral-variant50: rgba(117, 120, 115, 1);
    --material-themerefneutral-variantneutral-variant40: rgba(92, 95, 90, 1);
    --material-themerefneutral-variantneutral-variant35: rgba(80, 83, 79, 1);
    --material-themerefneutral-variantneutral-variant30: rgba(68, 72, 67, 1);
    --material-themerefneutral-variantneutral-variant25: rgba(57, 60, 56, 1);
    --material-themerefneutral-variantneutral-variant20: rgba(46, 49, 45, 1);
    --material-themerefneutral-variantneutral-variant15: rgba(35, 39, 35, 1);
    --material-themerefneutral-variantneutral-variant10: rgba(25, 28, 25, 1);
    --material-themerefneutral-variantneutral-variant5: rgba(14, 18, 14, 1);
    --material-themerefneutral-variantneutral-variant0: rgba(0, 0, 0, 1);
    --material-themekey-colorsprimary: rgba(64, 104, 72, 1);
    --material-themesourceseed: rgba(64, 104, 72, 1);
    --gray-palette100: rgba(255, 255, 255, 1);
    --primarylight-400: rgba(51, 151, 139, 1);
    --primarylight-500: rgba(0, 125, 110, 1);
    --button-link-button-link-l-bold-18-24-font-family:
        "Montserrat-Bold", Helvetica;
    --button-link-button-link-l-bold-18-24-font-weight: 700;
    --button-link-button-link-l-bold-18-24-font-size: 18px;
    --button-link-button-link-l-bold-18-24-letter-spacing: 0px;
    --button-link-button-link-l-bold-18-24-line-height: 24px;
    --button-link-button-link-l-bold-18-24-font-style: normal;
    --material-theme-schemes-primary: rgba(50, 105, 65, 1);
    --material-theme-schemes-surface-tint: rgba(50, 105, 65, 1);
    --material-theme-schemes-on-primary: rgba(255, 255, 255, 1);
    --material-theme-schemes-primary-container: rgba(180, 241, 189, 1);
    --material-theme-schemes-on-primary-container: rgba(0, 33, 11, 1);
    --material-theme-schemes-secondary: rgba(80, 99, 82, 1);
    --material-theme-schemes-on-secondary: rgba(255, 255, 255, 1);
    --material-theme-schemes-secondary-container: rgba(211, 232, 210, 1);
    --material-theme-schemes-on-secondary-container: rgba(14, 31, 18, 1);
    --material-theme-schemes-tertiary: rgba(58, 101, 110, 1);
    --material-theme-schemes-on-tertiary: rgba(255, 255, 255, 1);
    --material-theme-schemes-tertiary-container: rgba(189, 234, 245, 1);
    --material-theme-schemes-on-tertiary-container: rgba(0, 31, 37, 1);
    --material-theme-schemes-error: rgba(186, 26, 26, 1);
    --material-theme-schemes-on-error: rgba(255, 255, 255, 1);
    --material-theme-schemes-error-container: rgba(255, 218, 214, 1);
    --material-theme-schemes-on-error-container: rgba(65, 0, 2, 1);
    --material-theme-schemes-background: rgba(246, 251, 242, 1);
    --material-theme-schemes-on-background: rgba(24, 29, 24, 1);
    --material-theme-schemes-surface: rgba(246, 251, 242, 1);
    --material-theme-schemes-on-surface: rgba(24, 29, 24, 1);
    --material-theme-schemes-surface-variant: rgba(221, 229, 218, 1);
    --material-theme-schemes-on-surface-variant: rgba(65, 73, 65, 1);
    --material-theme-schemes-outline: rgba(113, 121, 112, 1);
    --material-theme-schemes-outline-variant: rgba(193, 201, 190, 1);
    --material-theme-schemes-shadow: rgba(0, 0, 0, 1);
    --material-theme-schemes-scrim: rgba(0, 0, 0, 1);
    --material-theme-schemes-inverse-surface: rgba(45, 50, 44, 1);
    --material-theme-schemes-inverse-on-surface: rgba(238, 242, 234, 1);
    --material-theme-schemes-inverse-primary: rgba(153, 212, 162, 1);
    --material-theme-schemes-primary-fixed: rgba(180, 241, 189, 1);
    --material-theme-schemes-on-primary-fixed: rgba(0, 33, 11, 1);
    --material-theme-schemes-primary-fixed-dim: rgba(153, 212, 162, 1);
    --material-theme-schemes-on-primary-fixed-variant: rgba(24, 81, 43, 1);
    --material-theme-schemes-secondary-fixed: rgba(211, 232, 210, 1);
    --material-theme-schemes-on-secondary-fixed: rgba(14, 31, 18, 1);
    --material-theme-schemes-secondary-fixed-dim: rgba(183, 204, 183, 1);
    --material-theme-schemes-on-secondary-fixed-variant: rgba(57, 75, 59, 1);
    --material-theme-schemes-tertiary-fixed: rgba(189, 234, 245, 1);
    --material-theme-schemes-on-tertiary-fixed: rgba(0, 31, 37, 1);
    --material-theme-schemes-tertiary-fixed-dim: rgba(162, 206, 216, 1);
    --material-theme-schemes-on-tertiary-fixed-variant: rgba(32, 77, 85, 1);
    --material-theme-schemes-surface-dim: rgba(215, 219, 212, 1);
    --material-theme-schemes-surface-bright: rgba(246, 251, 242, 1);
    --material-theme-schemes-surface-container-lowest: rgba(255, 255, 255, 1);
    --material-theme-schemes-surface-container-low: rgba(241, 245, 237, 1);
    --material-theme-schemes-surface-container: rgba(235, 239, 231, 1);
    --material-theme-schemes-surface-container-high: rgba(229, 234, 226, 1);
    --material-theme-schemes-surface-container-highest: rgba(223, 228, 220, 1);
}

/*

To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:

<body data-material-theme-mode="light">
    <!-- the rest of your content -->
</body>

You can apply the theme on any DOM node, not just the `body`

*/

[data-material-theme-mode="light"] {
    --material-theme-schemes-primary: rgba(50, 105, 65, 1);
    --material-theme-schemes-surface-tint: rgba(50, 105, 65, 1);
    --material-theme-schemes-on-primary: rgba(255, 255, 255, 1);
    --material-theme-schemes-primary-container: rgba(180, 241, 189, 1);
    --material-theme-schemes-on-primary-container: rgba(0, 33, 11, 1);
    --material-theme-schemes-secondary: rgba(80, 99, 82, 1);
    --material-theme-schemes-on-secondary: rgba(255, 255, 255, 1);
    --material-theme-schemes-secondary-container: rgba(211, 232, 210, 1);
    --material-theme-schemes-on-secondary-container: rgba(14, 31, 18, 1);
    --material-theme-schemes-tertiary: rgba(58, 101, 110, 1);
    --material-theme-schemes-on-tertiary: rgba(255, 255, 255, 1);
    --material-theme-schemes-tertiary-container: rgba(189, 234, 245, 1);
    --material-theme-schemes-on-tertiary-container: rgba(0, 31, 37, 1);
    --material-theme-schemes-error: rgba(186, 26, 26, 1);
    --material-theme-schemes-on-error: rgba(255, 255, 255, 1);
    --material-theme-schemes-error-container: rgba(255, 218, 214, 1);
    --material-theme-schemes-on-error-container: rgba(65, 0, 2, 1);
    --material-theme-schemes-background: rgba(246, 251, 242, 1);
    --material-theme-schemes-on-background: rgba(24, 29, 24, 1);
    --material-theme-schemes-surface: rgba(246, 251, 242, 1);
    --material-theme-schemes-on-surface: rgba(24, 29, 24, 1);
    --material-theme-schemes-surface-variant: rgba(221, 229, 218, 1);
    --material-theme-schemes-on-surface-variant: rgba(65, 73, 65, 1);
    --material-theme-schemes-outline: rgba(113, 121, 112, 1);
    --material-theme-schemes-outline-variant: rgba(193, 201, 190, 1);
    --material-theme-schemes-inverse-surface: rgba(45, 50, 44, 1);
    --material-theme-schemes-inverse-on-surface: rgba(238, 242, 234, 1);
    --material-theme-schemes-inverse-primary: rgba(153, 212, 162, 1);
    --material-theme-schemes-primary-fixed: rgba(180, 241, 189, 1);
    --material-theme-schemes-on-primary-fixed: rgba(0, 33, 11, 1);
    --material-theme-schemes-primary-fixed-dim: rgba(153, 212, 162, 1);
    --material-theme-schemes-on-primary-fixed-variant: rgba(24, 81, 43, 1);
    --material-theme-schemes-secondary-fixed: rgba(211, 232, 210, 1);
    --material-theme-schemes-on-secondary-fixed: rgba(14, 31, 18, 1);
    --material-theme-schemes-secondary-fixed-dim: rgba(183, 204, 183, 1);
    --material-theme-schemes-on-secondary-fixed-variant: rgba(57, 75, 59, 1);
    --material-theme-schemes-tertiary-fixed: rgba(189, 234, 245, 1);
    --material-theme-schemes-on-tertiary-fixed: rgba(0, 31, 37, 1);
    --material-theme-schemes-tertiary-fixed-dim: rgba(162, 206, 216, 1);
    --material-theme-schemes-on-tertiary-fixed-variant: rgba(32, 77, 85, 1);
    --material-theme-schemes-surface-dim: rgba(215, 219, 212, 1);
    --material-theme-schemes-surface-bright: rgba(246, 251, 242, 1);
    --material-theme-schemes-surface-container-lowest: rgba(255, 255, 255, 1);
    --material-theme-schemes-surface-container-low: rgba(241, 245, 237, 1);
    --material-theme-schemes-surface-container: rgba(235, 239, 231, 1);
    --material-theme-schemes-surface-container-high: rgba(229, 234, 226, 1);
    --material-theme-schemes-surface-container-highest: rgba(223, 228, 220, 1);
}

[data-material-theme-mode="light-high-contrast"] {
    --material-theme-schemes-primary: rgba(0, 41, 15, 1);
    --material-theme-schemes-surface-tint: rgba(50, 105, 65, 1);
    --material-theme-schemes-on-primary: rgba(255, 255, 255, 1);
    --material-theme-schemes-primary-container: rgba(19, 77, 39, 1);
    --material-theme-schemes-on-primary-container: rgba(255, 255, 255, 1);
    --material-theme-schemes-secondary: rgba(21, 38, 24, 1);
    --material-theme-schemes-on-secondary: rgba(255, 255, 255, 1);
    --material-theme-schemes-secondary-container: rgba(53, 71, 55, 1);
    --material-theme-schemes-on-secondary-container: rgba(255, 255, 255, 1);
    --material-theme-schemes-tertiary: rgba(0, 39, 45, 1);
    --material-theme-schemes-on-tertiary: rgba(255, 255, 255, 1);
    --material-theme-schemes-tertiary-container: rgba(27, 73, 81, 1);
    --material-theme-schemes-on-tertiary-container: rgba(255, 255, 255, 1);
    --material-theme-schemes-error: rgba(78, 0, 2, 1);
    --material-theme-schemes-on-error: rgba(255, 255, 255, 1);
    --material-theme-schemes-error-container: rgba(140, 0, 9, 1);
    --material-theme-schemes-on-error-container: rgba(255, 255, 255, 1);
    --material-theme-schemes-background: rgba(246, 251, 242, 1);
    --material-theme-schemes-on-background: rgba(24, 29, 24, 1);
    --material-theme-schemes-surface: rgba(246, 251, 242, 1);
    --material-theme-schemes-on-surface: rgba(0, 0, 0, 1);
    --material-theme-schemes-surface-variant: rgba(221, 229, 218, 1);
    --material-theme-schemes-on-surface-variant: rgba(31, 38, 31, 1);
    --material-theme-schemes-outline: rgba(61, 69, 61, 1);
    --material-theme-schemes-outline-variant: rgba(61, 69, 61, 1);
    --material-theme-schemes-inverse-surface: rgba(45, 50, 44, 1);
    --material-theme-schemes-inverse-on-surface: rgba(255, 255, 255, 1);
    --material-theme-schemes-inverse-primary: rgba(190, 251, 198, 1);
    --material-theme-schemes-primary-fixed: rgba(19, 77, 39, 1);
    --material-theme-schemes-on-primary-fixed: rgba(255, 255, 255, 1);
    --material-theme-schemes-primary-fixed-dim: rgba(0, 53, 22, 1);
    --material-theme-schemes-on-primary-fixed-variant: rgba(255, 255, 255, 1);
    --material-theme-schemes-secondary-fixed: rgba(53, 71, 55, 1);
    --material-theme-schemes-on-secondary-fixed: rgba(255, 255, 255, 1);
    --material-theme-schemes-secondary-fixed-dim: rgba(31, 49, 34, 1);
    --material-theme-schemes-on-secondary-fixed-variant: rgba(255, 255, 255, 1);
    --material-theme-schemes-tertiary-fixed: rgba(27, 73, 81, 1);
    --material-theme-schemes-on-tertiary-fixed: rgba(255, 255, 255, 1);
    --material-theme-schemes-tertiary-fixed-dim: rgba(0, 50, 58, 1);
    --material-theme-schemes-on-tertiary-fixed-variant: rgba(255, 255, 255, 1);
    --material-theme-schemes-surface-dim: rgba(215, 219, 212, 1);
    --material-theme-schemes-surface-bright: rgba(246, 251, 242, 1);
    --material-theme-schemes-surface-container-lowest: rgba(255, 255, 255, 1);
    --material-theme-schemes-surface-container-low: rgba(241, 245, 237, 1);
    --material-theme-schemes-surface-container: rgba(235, 239, 231, 1);
    --material-theme-schemes-surface-container-high: rgba(229, 234, 226, 1);
    --material-theme-schemes-surface-container-highest: rgba(223, 228, 220, 1);
}

[data-material-theme-mode="light-medium-contrast"] {
    --material-theme-schemes-primary: rgba(19, 77, 39, 1);
    --material-theme-schemes-surface-tint: rgba(50, 105, 65, 1);
    --material-theme-schemes-on-primary: rgba(255, 255, 255, 1);
    --material-theme-schemes-primary-container: rgba(73, 128, 85, 1);
    --material-theme-schemes-on-primary-container: rgba(255, 255, 255, 1);
    --material-theme-schemes-secondary: rgba(53, 71, 55, 1);
    --material-theme-schemes-on-secondary: rgba(255, 255, 255, 1);
    --material-theme-schemes-secondary-container: rgba(102, 121, 103, 1);
    --material-theme-schemes-on-secondary-container: rgba(255, 255, 255, 1);
    --material-theme-schemes-tertiary: rgba(27, 73, 81, 1);
    --material-theme-schemes-on-tertiary: rgba(255, 255, 255, 1);
    --material-theme-schemes-tertiary-container: rgba(80, 123, 132, 1);
    --material-theme-schemes-on-tertiary-container: rgba(255, 255, 255, 1);
    --material-theme-schemes-error: rgba(140, 0, 9, 1);
    --material-theme-schemes-on-error: rgba(255, 255, 255, 1);
    --material-theme-schemes-error-container: rgba(218, 52, 46, 1);
    --material-theme-schemes-on-error-container: rgba(255, 255, 255, 1);
    --material-theme-schemes-background: rgba(246, 251, 242, 1);
    --material-theme-schemes-on-background: rgba(24, 29, 24, 1);
    --material-theme-schemes-surface: rgba(246, 251, 242, 1);
    --material-theme-schemes-on-surface: rgba(24, 29, 24, 1);
    --material-theme-schemes-surface-variant: rgba(221, 229, 218, 1);
    --material-theme-schemes-on-surface-variant: rgba(61, 69, 61, 1);
    --material-theme-schemes-outline: rgba(89, 97, 89, 1);
    --material-theme-schemes-outline-variant: rgba(117, 125, 116, 1);
    --material-theme-schemes-inverse-surface: rgba(45, 50, 44, 1);
    --material-theme-schemes-inverse-on-surface: rgba(238, 242, 234, 1);
    --material-theme-schemes-inverse-primary: rgba(153, 212, 162, 1);
    --material-theme-schemes-primary-fixed: rgba(73, 128, 85, 1);
    --material-theme-schemes-on-primary-fixed: rgba(255, 255, 255, 1);
    --material-theme-schemes-primary-fixed-dim: rgba(48, 103, 62, 1);
    --material-theme-schemes-on-primary-fixed-variant: rgba(255, 255, 255, 1);
    --material-theme-schemes-secondary-fixed: rgba(102, 121, 103, 1);
    --material-theme-schemes-on-secondary-fixed: rgba(255, 255, 255, 1);
    --material-theme-schemes-secondary-fixed-dim: rgba(78, 97, 79, 1);
    --material-theme-schemes-on-secondary-fixed-variant: rgba(255, 255, 255, 1);
    --material-theme-schemes-tertiary-fixed: rgba(80, 123, 132, 1);
    --material-theme-schemes-on-tertiary-fixed: rgba(255, 255, 255, 1);
    --material-theme-schemes-tertiary-fixed-dim: rgba(55, 98, 107, 1);
    --material-theme-schemes-on-tertiary-fixed-variant: rgba(255, 255, 255, 1);
    --material-theme-schemes-surface-dim: rgba(215, 219, 212, 1);
    --material-theme-schemes-surface-bright: rgba(246, 251, 242, 1);
    --material-theme-schemes-surface-container-lowest: rgba(255, 255, 255, 1);
    --material-theme-schemes-surface-container-low: rgba(241, 245, 237, 1);
    --material-theme-schemes-surface-container: rgba(235, 239, 231, 1);
    --material-theme-schemes-surface-container-high: rgba(229, 234, 226, 1);
    --material-theme-schemes-surface-container-highest: rgba(223, 228, 220, 1);
}

[data-material-theme-mode="dark"] {
    --material-theme-schemes-primary: rgba(153, 212, 162, 1);
    --material-theme-schemes-surface-tint: rgba(153, 212, 162, 1);
    --material-theme-schemes-on-primary: rgba(0, 57, 24, 1);
    --material-theme-schemes-primary-container: rgba(24, 81, 43, 1);
    --material-theme-schemes-on-primary-container: rgba(180, 241, 189, 1);
    --material-theme-schemes-secondary: rgba(183, 204, 183, 1);
    --material-theme-schemes-on-secondary: rgba(35, 52, 38, 1);
    --material-theme-schemes-secondary-container: rgba(57, 75, 59, 1);
    --material-theme-schemes-on-secondary-container: rgba(211, 232, 210, 1);
    --material-theme-schemes-tertiary: rgba(162, 206, 216, 1);
    --material-theme-schemes-on-tertiary: rgba(1, 54, 62, 1);
    --material-theme-schemes-tertiary-container: rgba(32, 77, 85, 1);
    --material-theme-schemes-on-tertiary-container: rgba(189, 234, 245, 1);
    --material-theme-schemes-error: rgba(255, 180, 171, 1);
    --material-theme-schemes-on-error: rgba(105, 0, 5, 1);
    --material-theme-schemes-error-container: rgba(147, 0, 10, 1);
    --material-theme-schemes-on-error-container: rgba(255, 218, 214, 1);
    --material-theme-schemes-background: rgba(16, 21, 16, 1);
    --material-theme-schemes-on-background: rgba(223, 228, 220, 1);
    --material-theme-schemes-surface: rgba(16, 21, 16, 1);
    --material-theme-schemes-on-surface: rgba(223, 228, 220, 1);
    --material-theme-schemes-surface-variant: rgba(65, 73, 65, 1);
    --material-theme-schemes-on-surface-variant: rgba(193, 201, 190, 1);
    --material-theme-schemes-outline: rgba(139, 147, 138, 1);
    --material-theme-schemes-outline-variant: rgba(65, 73, 65, 1);
    --material-theme-schemes-inverse-surface: rgba(223, 228, 220, 1);
    --material-theme-schemes-inverse-on-surface: rgba(45, 50, 44, 1);
    --material-theme-schemes-inverse-primary: rgba(50, 105, 65, 1);
    --material-theme-schemes-primary-fixed: rgba(180, 241, 189, 1);
    --material-theme-schemes-on-primary-fixed: rgba(0, 33, 11, 1);
    --material-theme-schemes-primary-fixed-dim: rgba(153, 212, 162, 1);
    --material-theme-schemes-on-primary-fixed-variant: rgba(24, 81, 43, 1);
    --material-theme-schemes-secondary-fixed: rgba(211, 232, 210, 1);
    --material-theme-schemes-on-secondary-fixed: rgba(14, 31, 18, 1);
    --material-theme-schemes-secondary-fixed-dim: rgba(183, 204, 183, 1);
    --material-theme-schemes-on-secondary-fixed-variant: rgba(57, 75, 59, 1);
    --material-theme-schemes-tertiary-fixed: rgba(189, 234, 245, 1);
    --material-theme-schemes-on-tertiary-fixed: rgba(0, 31, 37, 1);
    --material-theme-schemes-tertiary-fixed-dim: rgba(162, 206, 216, 1);
    --material-theme-schemes-on-tertiary-fixed-variant: rgba(32, 77, 85, 1);
    --material-theme-schemes-surface-dim: rgba(16, 21, 16, 1);
    --material-theme-schemes-surface-bright: rgba(53, 58, 53, 1);
    --material-theme-schemes-surface-container-lowest: rgba(11, 15, 11, 1);
    --material-theme-schemes-surface-container-low: rgba(24, 29, 24, 1);
    --material-theme-schemes-surface-container: rgba(28, 33, 28, 1);
    --material-theme-schemes-surface-container-high: rgba(38, 43, 38, 1);
    --material-theme-schemes-surface-container-highest: rgba(49, 54, 49, 1);
}